body
{
	background-color:"white";
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li
{
	float:left;
	background-color:#89A3A3;
}


a:link,a:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#89A3A3;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active
{
	background-color:#424E4E;
}


#Logo
{
	z-index:-1;
	opacity:0.4;
	/*filter:alpha(opacity=40); /* For IE8 and earlier */
	image-position:center;
	position:fixed;
	bottom:0px;
	margin-bottom: 50px;
}


#container 
{
   min-height:100%;
   position:relative;
}

#header 
{
   color:white;	
   background:#89A3A3;
   padding-left:10px;
}

#navigation
{
	color:white;
	background:#89A3A3;
}

#body 
{
   padding:0px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer 
{
   position:absolute;
   bottom:0;
   width:100%;
   margin:auto;
   height:60px;   /* Height of the footer */
}