.pea {
	position: relative;
	top: 150px;
	min-width: 700px;
	text-align: center;
	margin-right: 15px;
	padding: 5px;
}

.pea#tabel {
	background-color: #D8D8D8;
	margin-top: 100px;
	margin-left: 20px;
	font-size: 11pt;
	text-align: left;
}

.pea#tabel thead tr th {
	background-color: orange;
	border: 1px solid black;
	color: black;
	padding: 3px;
}
.pea#tabel thead tr .header{
	background-image: url(images/sort_default.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;	
}

.pea#tabel tbody td {
	color: black;
	padding: 3px;
	background-color: #FFF;
	vertical-align: top;
}
.pea#tabel thead tr .headerSortDown {
	background-image: url(images/sort_asc.gif);
}

.pea#tabel thead tr .headerSortUp {
	background-image: url(images/sort_desc.gif);
}
.pea#tabel thead tr .headerSortDown, .pea#tabel thead tr .headerSortUp {
	background-color: orange;
}
.pea#raadio {
	margin-top: 60px;
}

#kaart {
	position: relative;
	top: 170px;
	left: 800px;
	width: 500px;
}

.vorm,#menuContainer {
	position: absolute;
	font-style: oblique;
	font-variant: small-caps;
	font-weight: bold;
	top: 180px;
	margin-left: 25px;
	width: 500px;
}

#nimi {
	margin-right: 25px;
}

#otsi {
	position: absolute;
	top: 185px;
	left: 105px;
	width: 50%;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#otsi:ACTIVE {
	cursor: wait;
}

select {
	position: absolute;
	top: auto;
	margin-left: 125px;
}


p#piirkond,p#erakond {
	position: relative;
	top: 10px;
	padding: -5px;
}

select#erakond,select#piirkond {
	position: relative;
	top: -27px;
	left: -55px;
}

img.ikoon {
	position: relative;
	margin-top: 0;
	padding-top: 25px;
	padding-left: 10px;
	height: 50px;
}

img.printer {
	position: fixed;
	top: 25px;
	right: 15px;
	padding: 5px;
}

img.flag {
	position: absolute;
	top: 180px;
	left: 25px;
	width: 500px;
}

.printer a:link,a:hover {
	cursor: pointer;
}

#lisaend {
	position: absolute;
	top: 250px;
	padding: 27px;
}