@CHARSET "UTF-8";


#header{
	color:black;
	font-size: 14px;
}

body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 12px; 
}
a{ 
    display : none; 
}
#kaart{
	display: none;
}
.pea#raadio{
	display:none;
}

ul, li, h2, form, p
{
	display:none;
}

table{
	border-collapse:collapse;
}

td,th{
	padding: 5px;
}

.navigation, #advertising, #other, #footer, #Logo,#header,.ikoon{ 
  display : none; 
}

p
{
	color:black;
}

