#kaart
{
	height: 300px;
	width: 350px;
	border:2px solid black;
}

.pea {
	position: relative;
	top: 7px;
	width: 580px;
	text-align: center;
	margin-right: 15px;
	padding: 5px;
}

.pea#tabel {
	border:0px;
	background-color:#99955C;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 11pt;
	text-align: left;
}

.pea#tabel thead tr th {
	background-color:#99955C;
	border: 1px solid black;
	padding: 3px;
}
.pea#tabel thead tr .header{
	background-image: url(images/sort_default.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.pea#tabel tbody td {
	padding: 3px;
	background-color: white;
	vertical-align: top;
}
.pea#tabel thead tr .headerSortDown {
	background-image: url(images/sort_asc.gif);
}

.pea#tabel thead tr .headerSortUp {
	background-image: url(images/sort_desc.gif);
}
.pea#tabel thead tr .headerSortDown, .pea#tabel thead tr .headerSortUp {
	background-color: #CFCA7C;
}
.pea#raadio {
	margin-top: 60px;
}

.printer a:link,a:hover {
	cursor: pointer;
}