body
{
	background-image: url('Background/2.jpg');
	background-repeat: no-repeat;
	background-position:center top;
}

a,p,h1
{
	font-family:"Copperplate Gothic Light","Century Gothic", sans-serif;
	color:black;
}

div
{
	display:block;
}

ul
{
	list-style-type:none;
}

li
{
	float:left;
}

#tiitel a
{
text-decoration:none;
}

#navigation a:hover
{
	background-color:#fff999;
}

#navigation a:link, a:visited
{
	display:block;
	text-decoration:none;
	font-size:14px;
	padding-top:7px;
	font-weight:bold;
	height:22px;
	width:125px;
	text-align:center;
	text-transform:uppercase;
}

body.Pealeht a.Pealeht,
body.Kandidaadid a.Kandidaadid,
body.Statistika a.Statistika,
body.Vote a.Vote
{
	background-color:#fff999;
}

#container
{
	width:1030px;
	margin-left:auto;
	margin-right:auto;
}

#tiitel
{
	font-size:18px;
}

#navibar
{
	background-image:url("Background/navi.png");
	height:64px;
	width:1031px;
}

#navigation li
{
	margin-top:16px;
	margin-left:50px;
	margin-right:auto;
}

#navigation
{
	margin-top:200px;
	height:30px;
	margin:auto;
	text-align:center;
}

	
#sisu
{
	text-align:center;
	height:800px;
	width:1026px;
	background-image:url("Background/taust.png");
	border-radius:10px;
}

.fb-login-button
{
	margin-top:3px;
}

#left
{
	float:left;
	width:360px;
	margin-left:20px;
	text-align:center;
}

#left-sisu
{
	position:relative;
	clear:both;
}

#left-FB
{
	position:relative;
	background-color:red;
	clear:both;
}

#right
{
	display:block-inline;
	float:right;
	width:620px;
	height:800px;
	background-image:url("Background/right.png");
	background-repeat:repeat-y;
	background-position:right;
}

#right p
{
	padding:10px;
}

#right p
{
	text-align:center;
}

#footer
{
	text-align:center;
	background-color:#fff999;
	border-radius:5px;
	height:100px;
}

#kaitse{
	color: red;
	font-weight: bolder;
	text-align: center;
	text-shadow: 1px 1px #111111;
	text-decoration: underline;
	text-transform: uppercase;
	font-size:large;
	background-color: #75DEC9;	
}

#VoteTabel
{
	padding:10px;
}